/* wine_detail.css */

body { 	background: url(../../../images/grapes.jpeg) repeat fixed; }
form { padding: 0px; margin: 0px; }
input { font-family: sans-serif; font-size: 8pt; height: 18px; padding: 0px; margin: 0px; }
textarea { font-family: sans-serif; font-size: 8pt; padding: 0px; margin: 0px; }
table { font-family: sans-serif; font-size: 10pt; }
td { padding: 0px 2px 0px 2px; }
fieldset { padding: 0px 14px 0px 14px !important; }
#page_title {
	width: 500px;
	font-size: 14pt; font-weight: bold;
	border: 2px outset #E0DFE3;
	background-color: #C0C0C0;
	padding: 0px 4px 0px 4px;
	text-align: left;
}

#page_body {
	width: 500px;
	border: 2px outset #E0DFE3;
	background-color: #C0C0C0;
	padding: 4px;
	text-align: left;
}
#vineyard { width: 200px; overflow: hidden; }
#label {width: 250px; overflow: hidden; }
#varietal {width: 200px; overflow: hidden; }
#vintage {width: 100px; overflow: hidden; }
#txt_notes {width: 99%; height: 34px; }

#body_detail {
	width: 496px;
	border: 2px inset #E0DFE3;
	background-color: #C0C0C0;
	margin-top: 10px;
}
#header_storage { width: 180px; font-size: 8pt; font-weight: bold; border-bottom: 2px solid black; overflow: hidden; }
#header_binX { width: 35px; font-size: 8pt; font-weight: bold; border-bottom: 2px solid black; overflow: hidden; }
#header_binY { width: 35px; font-size: 8pt; font-weight: bold; border-bottom: 2px solid black; overflow: hidden; }
#header_depth { width: 35px; font-size: 8pt; font-weight: bold; border-bottom: 2px solid black; overflow: hidden; }
#header_date { width: 60px; font-size: 8pt; font-weight: bold; border-bottom: 2px solid black; overflow: hidden; }

#detail_scroll { width: 100%; height: 200px; overflow: auto; }

.odd_row { background-color: #CCCCCC; cursor: pointer; }
.even_row { background-color: #FFDDDD; cursor: pointer; }

.detail_storage { width: 180px; font-size: 8pt; overflow: hidden; }
.sel_storage { width: 180px; }
.txt_binX { width: 35px; text-align: center; }
.txt_binY { width: 35px; text-align: center; }
.txt_depth { width: 35px; text-align: center; }
.detail_date { width: 60px; font-size: 8pt; text-align: right; overflow: hidden; }
.btn_update { width: 45px; overflow: hidden; }
.btn_consumed { width: 62px; overflow: hidden; }

#body_buttons {
	width: 496px;
	text-align: right;
	margin-top: 5px;
}
