/* menu.css */

body {
	font-family: sans-serif;
	font-size: 10pt;
}
#page_title {
	width: 300px;
	font-family: serif;	font-size: 16pt; font-weight: bold;
}
#page_body {
	padding-left: 25px;
}
	
	